.intro-photo__image {
  overflow: hidden;
  border-radius: var(--radius-lg);
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.intro-photo__image iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border: none;
  border-radius: var(--radius-lg);
}